@model NZWalks.UI.Models.DTO.RegionDto

<h1 class="mt">Edit Region</h1>
@if (Model is not null)
{
    <form method="post">
        <div class="mt-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" readonly class="form-control" name="id" asp-for="Id" >
        </div>

        <div class="mt-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" name="code" asp-for="Code" >
        </div>

        <div class="mt-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" asp-for="Name">
        </div>

        <div class="mt-3">
            <label for="image_url" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="image_url" asp-for="RegionImageUrl">
        </div>


        <div class="mt-3">
            <button type="submit" class="btn btn-primary " name="image_url">
                Save
            </button>
            <button class="btn btn-danger" type="submit" asp-action="Delete">Delete</button>
        </div>
    </form>

}
