@model IEnumerable<NZWalks.UI.Models.DTO.RegionDto>

@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regions</title>

</head>
<body>
    <h1 class="mt-3">Regions</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add" >Add Region</a>
    </div>
    <table class="table">
        <thead>
         <th>Id</th>
         <th>Code</th>
         <th>Name</th>
         <th></th>
        </thead>
        <tbody>
            @foreach(var row in Model)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Code</td>
                    <td>@row.Name</td>
                    <td><a class="btn btn-dark" asp-controller="Regions" asp-action="Edit" asp-route-id="@row.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
